@font-face {
    font-family: 'Ubuntu';
    src: url(./assets/fonts/Ubuntu/ubuntu-regular-webfont.woff);
    src: url(./assets/fonts/Ubuntu/ubuntu-regular-webfont.woff2);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu';
    src: url(./assets/fonts/Ubuntu/ubuntu-bold-webfont.woff);
    src: url(./assets/fonts/Ubuntu/ubuntu-bold-webfont.woff2);
    font-weight: 700;
    font-style: bold;
}

.wrapper-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1375px;
    padding: 0 15px;
    margin: 0 auto;
}
.header{
    padding: 10px 0;
}
.logo {
    width: 150px;
    height: 80px;
}
.nav{
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    padding: 0;
    margin: 0;
}
.nav-item{
    margin-right: 50px;
    list-style: none;
    line-height: 18px;
    letter-spacing: 0;
    font-size: 16px;
}

.nav-list:last-child{
    margin-right: 0;
}
.number-call{
    margin-right: 50px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 23px;
}
.button-orange{
    display: inline-block;
    text-align: center;
    padding: 19px 44px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.2px;
    background-color: #FF7944;
    border-radius: 100px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
}
.welcome {
    background-image: url(./assets/img/fonewelcome.PNG);
    background-repeat: no-repeat;
    background-position: 45vw;
    background-color: #FFF7F5;
}
/*.pink-petals::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 962px;
    background: 65px/100% 100% no-repeat  url(./assets/img/flower-petal-welcome.png), url(./assets/img/ellipse-welcom.png) center bottom no-repeat;
}
.wrapper-container *{
    position: relative;
}*/

.you-mother{
    font-size: 52px;
    font-weight: bold;
    color: #CA2728;
    margin: 0;
    padding-bottom: 30px;
    line-height: 60px;
    letter-spacing: 0;
}
.mommy-baby{
    margin-top: 71px;
    margin-left: 11vw;
}
.wrapper-petals{
    display: flex;
    align-items: center;
    max-width: 1350px;
    padding: 0 15px;
    margin: 0 auto;
}
.discount span {
    font-weight: bold;
}
.discount{
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0;
    margin:0;
    padding-bottom: 50px;
}
.button-cons {
    padding: 19px 30px;
}
.metod-eko{
    margin-top: 100px;
    margin-bottom: 100px;
}
.diagram{
    display: flex;
    align-items: center;
    max-width: 660px;
    background-color: #F3F5FF;
}
.persent{
    display: inline-block;
    width: 156px;
    height: 156px;
    margin: 36px 30px;
    background: url(./assets/img/Group\ 12.svg) no-repeat;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #1E266D;
    padding-top: 61px;
    padding-bottom: 61px;
}
.metod{
    max-width: 660px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.28px;
}
.result{
    max-width: 414px;
    align-items: center;
    padding-right: 30px;
    color: #1E266D;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 0.28px;
}
.result :first-child{
    padding-bottom: 30px;
}
.result div {
    text-align: center;
}
.nine-steps{
    flex-direction: column;
    justify-content: center;

    max-width: 100%;
}
.nine-steps-text{
    font-size: 36px;
    font-weight: bold;
}
.steps{
    display: flex;
    flex-wrap: wrap;
    max-width: 1350px;
    column-gap: 30px;
    row-gap: 100px;
    padding-top: 80px;
}
.step-number-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 93px;
    height: 93px;
    background: no-repeat url(./assets/img/dots-font.png);
    background-size: contain;
    background-position: center;
}
.step-number-border{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 69px;
    height: 69px;
    background-color: #FFF7F5;
    border-radius: 20rem;
    font-size: 32px;
    font-weight: bold;
    color: #FF7944;
}
.step-number-text{
    max-width: 192px;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.36px;
    text-transform: uppercase;
}
.step-dotes-9{
    background: no-repeat url(./assets/img/dotes-step9.png);
    background-size: contain;
}
.step-border-9{
    background-color: #FF7944;
    color: #FFF;
}
/*.arrow{
    display: inline-flex;
    position: absolute;
}
.arrow1, .arrow2 {
    top:20px;
}
.arrow1, .arrow3 {
    left: 81px;
}
.arrow2, .arrow5 {
    left: 770px;
}
.arrow3, .arrow5 {
    top: 225px;
}
.arrow4{
    top: 180px;
    left: 425px;
}
*/
.arrow{
    display: flex;
    position: relative;
    column-gap: 30px;
    align-items: center;
}
.arrow:before{
    position: absolute;
    content: '';
    width: 277px;
    height: 50px;
    background-image: url(./assets/img/arrow.svg);
    background-repeat: no-repeat;
}
.arrow4:before{
    opacity: 0;
}
.arrow1:before, .arrow3:before, .arrow5:before, .arrow7:before  {
    top: -50px;
    left: 80px;
}
.arrow2:before, .arrow6:before{
    height: 55px;
    top: 90px;
    left: 90px;
    background: no-repeat url(./assets/img/arrow-bot.svg);
}
.arrow8::before{
    background: no-repeat url(./assets/img/arrow9.svg);
    width: 467px;
    height: 276px;
    left: -395px;
    top: 40px;
}
.step-9{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF7F5;
    max-height: 228px;
    margin-top: 150px;
    margin-bottom: 70px;
}
.step9-text{
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.5;
    color: #CA2728;
    padding-left: 30px;
}
.photo-women{
    padding-bottom: 50px;
    padding-right: 80px;
}
.clinic{
    display: block;
}
.about-clinic{
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}
.about-arteko{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 657px;
    padding-right: 33px;
    padding-bottom: 90px;
}
.about-title{
    font-size: 36px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0;
    margin-bottom: 40px;
}
.about-us{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.photo-petal-women{
    max-width: 660px;
}
.statistics{
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}
.block-stat{
    text-align: center;
    width: 33.33%;
}
.numer-stat{
    font-size: 36px;
    line-height: 2;
    font-weight: bold;
    color: #FF7944;
}
.text-stat{
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.36px;
    color: #1E266D;
    text-align: center;
    margin: 0 81px;
}
.container-text-quotes{
    width: 38.33%;
    padding-right: 30px;
    padding-top: 57px;
    padding-bottom: 70px;
}

.quote{
    background: linear-gradient(to right, #F3F5FF 49%, 0%, #FFF 51%);
    margin-bottom: 100px;
}
.img-quote{
    max-width: 43px;
    padding-bottom: 25px;
}
.text-quotes{
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: #1E266D;
}
.photo-director{
    max-width: 315px;
}
.question{
    width: 38.33%;
    padding-left: 30px;
}
.title-question{
    font-size: 36px;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: 0.72px;
    color: #272727;
    margin-bottom: 30px;
}
.form-row{
    margin-bottom: 15px;
}

.form-entry{
    width: 100%;
    height: 55px;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.5;
    color: #82848C;
    background-color: #FAF9FA;
    border: 1px solid #F1F3F7;
    padding: 0 30px;
}
.form-entry-text{
    width: 100%;
    height: 109px;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.5;
    color: #82848C;
    background-color: #FAF9FA;
    border: 1px solid #F1F3F7;
    padding: 0 30px;
}
.check-form-question{
    display: flex;
    align-items: center;
}
.check-agree{
    position: relative;
    display: block;
    cursor: pointer;
    margin: 0;
}
.agree-form{
    width: 59%;
    padding-right: 15px;
}
.label-form-agree{
    position: relative;
    display: block;
    font-size: 11px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.4;
    color: #82848C;
    padding-left: 40px;
}
.form-agree-check{
    position: absolute;
    opacity: 0;
}
.label-form-agree::before{
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #F1F3F7;
    border-radius: 5px;
    background-color: #FAF9FA;
}


.button-question{
    width: 41%;
}
.label-form-agree a {
    color: #FF7944;
    border-bottom: 1px solid #FF7944 ;
}
.btn-question{
    font-size: 16px;
    line-height: 18px;
    padding: 18px 51px;
}
.review-conteiner{
    display: block;
}
.titel-review{
    display: block;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.5;
    margin: 0 0 25px;
}
.block-review{
    display: flex;
    padding-bottom: 75px;
}
.review{
    width: 33.33%;
    margin-right: 30px;
    margin-top: 88px;
}
.review2{
    background-image: url(./assets/img/dropped-black-brush-pictures-15.svg);
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 0;
}

.review3{
    margin-right: 0;
}
.review3 .text-review{
    margin-bottom: 30px;
}
.read {
    color: #FF7944;
    border-bottom: 1px solid #FF7944;
    cursor: pointer;
}
.text-review{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
    line-height: 1.5;
    margin: 0 0 54px;
}
.name-review{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 3.2px;
    line-height: 1.5;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.insta-clinic{
    display: block;
    text-align: center;

}
.insta-clinic img{
    max-width: 30px;
    max-height: 30px;
}
.insta-name{
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.5;
    color: #FF7944;
    padding-left: 15px;
}
.qoets-right{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 50px;
}
.arrow-review{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding-bottom: 50px;
}
.arrow-ring{
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
.arrow-left{
    background: url(./assets/img/arrow-left.svg) no-repeat center center, #FFF7F5;
}
.arrow-right{
    background: url(./assets/img/arrow-right.svg) no-repeat center center, #FFF7F5;
}
.dotes-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    align-items: center;
}
.dotes1{
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 100%;
    background-color: #FF7944;
}
.dotes2, .dotes3{
    width: 13px;
    height: 13px;
    border: none;
    border-radius: 100%;
    background-color: #000000;
    opacity: 20%;
}