@font-face {
    font-family: 'Ubuntu';
    src: url(./assets/fonts/Ubuntu/ubuntu-regular-webfont.woff);
    src: url(./assets/fonts/Ubuntu/ubuntu-regular-webfont.woff2);
    font-weight: 400;
}
@font-face {
    font-family: 'Ubuntu';
    src: url(./assets/fonts/Ubuntu/ubuntu-bold-webfont.woff);
    src: url(./assets/fonts/Ubuntu/ubuntu-bold-webfont.woff2);
    font-weight: 700;
}

.wrapper-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1350px;
    padding: 0 15px;
    margin: 0 auto;
}
.header{
    padding: 10px 0;
}
.logo {
    width: 150px;
    height: 80px;
}
.nav{
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    padding: 0;
    margin: 0;
}
.nav-item{
    margin-right: 50px;
    list-style: none;
}
.nav-list:last-child{
    margin-right: 0;
}
.number-call{
    margin-right: 50px;
    font-size: 20px;
    font-weight: bold;
}
.button-orange{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF7944;
    border-radius: 10rem;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    height: 55px;
}
.button-callback{
    width: 220px;
}
.welcome {
    background-image: url(./assets/img/fonewelcome.PNG);
    background-repeat: no-repeat;
    background-position: 45vw;
    background-color: #FFF7F5;
}
/*.pink-petals::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 962px;
    background: 65px/100% 100% no-repeat  url(./assets/img/flower-petal-welcome.png), url(./assets/img/ellipse-welcom.png) center bottom no-repeat;
}
.wrapper-container *{
    position: relative;
}*/

.you-mother{
    font-size: 52px;
    font-weight: bold;
    color: #CA2728;
    margin: 0;
    padding-bottom: 30px;
    line-height: 1;
}
.mommy-baby{
    margin-top: 71px;
    margin-left: 11vw;
}
.wrapper-petals{
    display: flex;
    align-items: center;
    max-width: 1350px;
    padding: 0 15px;
    margin: 0 auto;
}
.discount span {
    font-weight: bold;
}
.discount{
    font-size: 20px;
    margin:0;
    padding-bottom: 50px;
}
.button-cons {
    width: 300px;
}
.metod-eko{
    margin-top: 100px;
    margin-bottom: 100px;
}
.diagram{
    display: flex;
    align-items: center;
    max-width: 660px;
    background-color: #F3F5FF;
}
.persent{
    display: inline-block;
    width: 156px;
    height: 156px;
    margin: 36px 30px;
    background: url(./assets/img/Group\ 12.svg) no-repeat;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #1E266D;
    padding-top: 61px;
    padding-bottom: 61px;
}
.metod{
    max-width: 660px;
}
.result{
    max-width: 414px;
    align-items: center;
    padding-right: 30px;
    color: #1E266D;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.result :first-child{
    padding-bottom: 30px;
}
.result div {
    text-align: center;
}
.nine-steps{
    flex-direction: column;
    justify-content: center;

    max-width: 100%;
}
.nine-steps-text{
    font-size: 36px;
    font-weight: bold;
}
.steps{
    display: flex;
    flex-wrap: wrap;
    max-width: 1350px;
    column-gap: 30px;
    row-gap: 100px;
    padding-top: 80px;
}
.step-number-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 93px;
    height: 93px;
    background: no-repeat url(./assets/img/dots-font.png);
    background-size: contain;
    background-position: center;
}
.step-number-border{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 69px;
    height: 69px;
    background-color: #FFF7F5;
    border-radius: 20rem;
    font-size: 32px;
    font-weight: bold;
    color: #FF7944;
}
.step-number-text{
    max-width: 192px;
    font-size: 18px;
    text-transform: uppercase;
}
.step-dotes-9{
    background: no-repeat url(./assets/img/dotes-step9.png);
    background-size: contain;
}
.step-border-9{
    background-color: #FF7944;
    color: #FFF;
}
/*.arrow{
    display: inline-flex;
    position: absolute;
}
.arrow1, .arrow2 {
    top:20px;
}
.arrow1, .arrow3 {
    left: 81px;
}
.arrow2, .arrow5 {
    left: 770px;
}
.arrow3, .arrow5 {
    top: 225px;
}
.arrow4{
    top: 180px;
    left: 425px;
}
*/
.arrow{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    column-gap: 30px;
    align-items: center;
}
.arrow:before{
    position: absolute;
    content: '';
    width: 277px;
    height: 50px;
    background-image: url(./assets/img/arrow.svg);
    background-repeat: no-repeat;
}
.arrow1:before, .arrow2:before, .arrow3:before, .arrow5:before  {
    top: -50px;
    left: 80px;
}
.arrow4:before, .arrow6:before{
    height: 55px;
    top: 90px;
    left: 90px;
    background: no-repeat url(./assets/img/arrow-bot.svg);
}
.arrow9::before{
    background: no-repeat url(./assets/img/arrow9.svg);
    width: 467px;
    height: 276px;
    left: -400px;
    top: 40px;
}
.step-9{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF7F5;
    max-height: 228px;
    margin-top: 150px;
    margin-bottom: 70px;
}
.step9-text{
    font-size: 36px;
    font-weight: bold;
    color: #CA2728;
    padding-left: 30px;
    
}
.photo-women{
    padding-bottom: 50px;
    padding-right: 80px;
    padding-left: 80px;
}
.clinic{
    display: block;
}
.about-clinic{
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}
.about-arteko{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 657px;
    padding-right: 33px;
    padding-bottom: 60px;
}
.about-title{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
}
.about-us{
    
    font-size: 16px;
}
.photo-petal-women{
    max-width: 660px;
}
.statistics{
    display: flex;
    justify-content: space-between;
}
.block-stat{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 430px;
}
.numer-stat{
    font-size: 36px;
    line-height: 2;
    font-weight: bold;
    color: #FF7944;
}
.text-stat{
    font-size: 18px;
    font-weight: bold;
    color: #1E266D;
    text-align: center;
    margin: 0 90px;
}
