@font-face {
    font-family: 'Ubuntu';
    src: url(./assets/fonts/Ubuntu/ubuntu-regular-webfont.woff);
    src: url(./assets/fonts/Ubuntu/ubuntu-regular-webfont.woff2);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu';
    src: url(./assets/fonts/Ubuntu/ubuntu-bold-webfont.woff);
    src: url(./assets/fonts/Ubuntu/ubuntu-bold-webfont.woff2);
    font-weight: 700;
    font-style: bold;

}
@font-face {
    font-family: 'Ubuntu';
    src: url(./assets/fonts/Ubuntu/ubuntu-medium-webfont.woff);
    src: url(./assets/fonts/Ubuntu/ubuntu-medium-webfont.woff2);
    font-weight: 500;
    font-style: medium;
}
.wrapper{
    overflow: hidden;
}

*{
    box-sizing: border-box;
}
.wrapper-bgr{
    background-image: url(./assets/img/bgr-welcome.png);
    background-repeat: no-repeat;
    background-position: center;
}

.wrapper-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1375px;
    padding: 0 15px;
    margin: 0 auto;
}
.header{
    padding-top: 10px;
    padding-bottom: 10px;
}
.logo {
    width: 150px;
}
.nav{
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    padding: 0;
    margin: 0;
}
.nav-item{
    margin-right: 50px;
    list-style: none;
    line-height: 18px;
    letter-spacing: 0;
    font-size: 16px;
}

.nav-list:last-child{
    margin-right: 0;
}


.menu{
    display: none;
    position: relative;
    width: 46px;
    height: 46px;
    background-color: #FFF;
    border: none;
}
.menu span{
    display: block;
    position: absolute;
    right: 0;
    top: 10px;
    width: 35px;
    height: 2px;
    background-color: #272727;
    left: 6px;
    transition: all 0.1s ease;
}
.menu span:nth-child(2){
    top: 22px;
}
.menu span:nth-child(3){
    top: 34px;
}
.nav-open .menu span:nth-child(1){
    top: 22px;
    transform: rotate(45deg);
}
.nav-open .menu span:nth-child(2){
    opacity: 0;
}
.nav-open .menu span:nth-child(3){
    top: 22px;
    transform: rotate(-45deg);
}



.number-call{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 23px;
}
.button-orange{
    display: inline-block;
    text-align: center;
    padding: 19px 44px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.2px;
    background-color: #FF7944;
    border-radius: 100px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
}
.welcome {
    background-color: #FFF7F5
}

.be-mommy{
    width: 48.21818181818182%;
    padding-top: 173px;
    padding-bottom: 172px;
}
.you-mother{
    font-size: 50px;
    font-weight: bold;
    color: #CA2728;
    margin: 0;
    padding-bottom: 30px;
    line-height: 60px;
    letter-spacing: 0;
}


.wrapper-petals{
    display: flex;
    align-items: center;
    max-width: 1350px;
    padding: 0 15px;
    margin: 0 auto;
}
.discount span {
    font-weight: bold;
}
.discount{
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0;
    margin:0;
    padding-bottom: 50px;
}
.button-cons {
    padding: 19px 30px;
}
.metod-eko{
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.diagram{
    display: flex;
    align-items: center;
    width: 47.85454545454545%;
    background-color: #F3F5FF;
}
.persent{
    display: inline-block;
    width: 156px;
    height: 156px;
    margin: 36px 0px 36px 30px;
    background: url(./assets/img/Group\ 12.svg) no-repeat;
    background-position: center;
    background-size: contain;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #1E266D;
    padding-top: 61px;
    padding-bottom: 61px;
}
.metod{
    width: 47.85454545454545%;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-left: 30px;
    padding-right: 20px
}
.result{
    width: 62.61398176291793%;
    align-items: center;
    color: #1E266D;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 21px;
    letter-spacing: 0.28px;
    margin-right: 30px;
    
}
.result :first-child{
    padding-bottom: 30px;
}
.result div {
    text-align: center;
    padding-left: 30px;
}
.nine-steps{
    flex-direction: column;
    justify-content: center;

    max-width: 100%;
}
.nine-steps-text{
    font-size: 36px;
    font-weight: bold;
}
.steps{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1350px;
    column-gap: 30px;
    row-gap: 100px;
    padding-top: 80px;
}
.step-number-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 93px;
    height: 93px;
    background: no-repeat url(./assets/img/dots-font.png);
    background-size: contain;
    background-position: center;
}
.step-number-border{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 69px;
    height: 69px;
    background-color: #FFF7F5;
    border-radius: 20rem;
    font-size: 32px;
    font-weight: bold;
    color: #FF7944;
}
.step-number-text{
    max-width: 192px;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.36px;
    text-transform: uppercase;
}
.step-dotes-9{
    background: no-repeat url(./assets/img/dotes-step9.png);
    background-size: contain;
    background-position: center;
    z-index: 1;

}
.step-border-9{
    background-color: #FF7944;
    color: #FFF;
}
/*.arrow{
    display: inline-flex;
    position: absolute;
}
.arrow1, .arrow2 {
    top:20px;
}
.arrow1, .arrow3 {
    left: 81px;
}
.arrow2, .arrow5 {
    left: 770px;
}
.arrow3, .arrow5 {
    top: 225px;
}
.arrow4{
    top: 180px;
    left: 425px;
}
*/
.arrow{
    display: flex;
    position: relative;
    column-gap: 30px;
    align-items: center;
}
.arrow:before{
    position: absolute;
    content: '';
    width: 277px;
    height: 50px;
    background-image: url(./assets/img/arrow.svg);
    background-repeat: no-repeat;
}
.arrow4:before{
    opacity: 0;
}
.arrow1:before, .arrow3:before, .arrow5:before, .arrow7:before  {
    top: -50px;
    left: 80px;
}
.arrow2:before, .arrow6:before{
    height: 55px;
    top: 90px;
    left: 90px;
    background: no-repeat url(./assets/img/arrow-bot.svg);
}
.arrow8::before{
    background: no-repeat url(./assets/img/arrow9.svg);
    width: 467px;
    height: 276px;
    left: -395px;
    top: 40px;
    z-index: 1;
}
.step-9{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 40px;
}
.step-9::before{
    position: absolute;
    content: '';
    background-color: #FFF7F5;
    height: 228px;
    width: calc(100% - 30px);
    left: 15px;
}
.step9-text{
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.5;
    color: #CA2728;
    padding-left: 30px;
    z-index: 1;
}
.photo-women{
    padding-bottom: 50px;
    margin-right: 70px;
    z-index: 1;
}
.clinic{
    display: block;
}
.about-clinic{
    display: flex;
    padding-bottom: 60px;
}
.about-arteko{
    padding-top: 243px;
    width: 48.44444444%;
    padding-bottom: 90px;
}
.about-title{
    font-size: 36px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0;
    margin-bottom: 40px;
}
.about-us{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.photo-petal-women{
    width: 51.555555556%;
    padding-left: 30px;
}
.statistics{
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    margin-left: -15px;
    margin-right: -15px;
}
.block-stat{
    text-align: center;
    width: 33.33%;
    margin-left: 15px;
    margin-right: 15px;
}
.numer-stat{
    font-size: 36px;
    line-height: 2;
    font-weight: bold;
    color: #FF7944;
}
.text-stat{
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.36px;
    color: #1E266D;
    text-align: center;
    padding: 0 100px;
}
.container-text-quotes{
    width: 38.33%;
    margin-right: 30px;
    padding-top: 57px;
    padding-bottom: 70px;
}

.quote{
    background: linear-gradient(to right, #F3F5FF 49%, 0%, #FFF 51%);
    margin-bottom: 100px;
}
.img-quote{
    width: 43px;
    height: 38px;
    margin-bottom: 25px;
}
.text-quotes{
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.2px;
    letter-spacing: 0.32px;
    color: #1E266D;
    padding-right: 13px;
}
.text-quotes span{
    font-weight: 700;
}
.photo-director{
    max-width: 315px;
}
.question{
    width: 38.33%;
    padding-left: 30px;
}
.title-question{
    font-size: 36px;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: 0.72px;
    color: #272727;
    margin-bottom: 30px;
}
.form-row{
    margin-bottom: 15px;
}

.form-entry{
    width: 100%;
    height: 55px;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.5;
    color: #82848C;
    background-color: #FAF9FA;
    border: 1px solid #F1F3F7;
    padding: 0 30px;
}
.form-entry-text{
    width: 100%;
    height: 109px;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.5;
    color: #82848C;
    background-color: #FAF9FA;
    border: 1px solid #F1F3F7;
    padding: 0 30px;
    resize: none;
}

.check-form-question{
    display: flex;
    align-items: center;
}
.check-agree{
    position: relative;
    display: block;
    cursor: pointer;
    margin: 0;
}
.agree-form{
    width: 59%;
    padding-right: 15px;
}
.label-form-agree{
    position: relative;
    display: block;
    font-size: 11px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.4;
    color: #82848C;
    padding-left: 40px;
}
.form-agree-check{
    position: absolute;
    opacity: 0;
}
.label-form-agree::before{
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #F1F3F7;
    border-radius: 5px;
    background-color: #FAF9FA;
}
.label-form-agree::after{
    display: none;
    position: absolute;
    content: '\2713';
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #F1F3F7;
    border-radius: 5px;
    background-color: #FAF9FA;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    color: #FF7944;
}
.form-agree-check:checked + .label-form-agree::after{
    display: block;
}
.button-question{
    width: 41%;
}
.label-form-agree a {
    color: #FF7944;
    border-bottom: 1px solid #FF7944 ;
}
.btn-question{
    font-size: 16px;
    line-height: 18px;
    padding: 18px 51px;
}
.review-conteiner{
    display: block;
}
.titel-review{
    display: block;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.5;
}
.block-review{

    background: url(./assets/img/group-quotes.svg) no-repeat left 50% top 0;
    padding-top: 106px;
    padding-bottom: 120px;
    margin-right: -10px;
    margin-left: -10px;
    margin-bottom: 80px;
}
.review{
   /* width: calc(33.33% - 30px);*/
    margin-right: 10px;
    margin-left: 10px;
    padding-right: -5px;
    padding-left: -5px;
}
.read {
    color: #FF7944;
    border-bottom: 1px solid #FF7944;
    cursor: pointer;
}
.text-review{
    max-height: 144px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
    line-height: 24px;
    padding-bottom: 24px;
    padding-right: 7px;
    padding-left: 7px;
}
.name-review{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 3.2px;
    line-height: 1.5;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;
}
.insta-clinic{
    display: block;
    text-align: center;

}
.insta-clinic a img{
    display: inline-block;
    max-width: 30px;
    max-height: 30px;
}
.insta-name{
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.5;
    color: #FF7944;
    margin-left: 15px;
}
.qoets-right{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 50px;
}
/*.arrow-review{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.arrow-ring{
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
.arrow-left{
    background: url(./assets/img/arrow-left.svg) no-repeat center center, #FFF7F5;
}
.arrow-right{
    background: url(./assets/img/arrow-right.svg) no-repeat center center, #FFF7F5;
}
.dotes-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    align-items: center;
}
.dotes1{
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 100%;
    background-color: #FF7944;
}
.dotes2, .dotes3{
    width: 13px;
    height: 13px;
    border: none;
    border-radius: 100%;
    background-color: #000000;
    opacity: 20%;
}*/
.doctor-container{
    display: block;
    padding-bottom: 80px;
}
.title-conteiner{
    display: block;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0;
    margin: 0;
}
.slider-doctor{
    /*display: flex;
    flex-wrap: wrap;*/
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 50px;
    padding-bottom: 105px;
}

.card-doctor{
    text-align: center;
   /* width: calc(25% - 30px);*/
    padding-bottom: 50px;
    margin-left: 15px;
    margin-right: 15px;

}
.photo-doctor{
    max-height: 315px;
}
.reiting{
    text-align: center;
    padding-top: 36px;
    padding-bottom: 30px;
    background: url(./assets/img/stars-group.svg) no-repeat center;
}
.reiting-4-star{
    background: url(./assets/img/stars-gruop2.svg) no-repeat center;
}
.reiting-3-star{
    background: url(./assets/img/stars-gruop3.svg) no-repeat center;
}

.name-doctor{
    max-height: 48px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.button-enroll{
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    padding-left: 46px;
    padding-right: 46px;
}
.our-services{
    display: block;
}
.services-conteiner{
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 80px;
}
.services-card{
    width: calc(20% - 30px);
    background-color: #F3F5FF;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    padding: 50px 25px;
}
.subtitle-services{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 62px;
    margin: 0 0 20px 0;
    color: #1E266D;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
}
.price{
    display: block;
    max-height: 21px;
    margin: 0 0 46px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0;
}
.price span{
    font-weight: 700;
}
.buttons-service{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-services-card{
    padding-bottom: 15px;
}
.button-service-orange{
    display: block;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0;
    text-transform: uppercase;
    padding: 13px 50px;
    background-color: #FF7944;
    border-radius: 100px;
    color: white;
    text-decoration: none;
    border: none;
}
.button-blue{
    padding: 13px 60px;
    background-color: #1E266D;
}
.signup-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 950px;
    margin: 0 auto;
    padding-bottom: 150px;
}
.signup-for-consultation{
    background-image: linear-gradient(rgb(255, 255, 255, 0.7) 0%, rgb(251, 227, 255, 0.7) 100%);
}
.signup-form{
    width: calc(61.57894736842105% - 99px);
    margin-left: 99px;
}
.signup-titel {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0.72px;
    margin-bottom: 30px;
}
.signup-agree{
    margin-top: 35px;
}
.btn-signup{
    font-size: 16px;
    line-height: 18px;
    padding: 18px 51px;
}
.label-form-agree-signup{
    color: #1E266D;
}
.label-form-agree-signup::before{
    background-color: #FFF;
}
.form-entry-signup{
    background-color: #FFF;
}
.photo-director-bgr{
    width: 38.42105263157895%;
    padding-top: 12px;

}
.slick-slider{
    position: relative;
}
.slick-dots{
    display: flex;
    justify-content: center;
    list-style: none;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    flex-wrap: wrap;
    column-gap: 15px;
    font-size: 0;
    padding: 0 0 29px 0;
}
.slick-dots button {
    padding: 7px;
    transition: all 0s ease;
    border: 3px solid white;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.20);
}
li.slick-active button {
    border: 3px solid #FF7944;
    background-color: #FF7944;
    border-radius: 50%;
}
.slick-arrow{
    position: absolute;
    bottom: 0;
    font-size: 0;
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    z-index: 1;
}
.slick-prev{
    background: url(./assets/img/arrow-left.svg) no-repeat center, #FFF7F5;
    left: 0;
    margin-left: 10px;
}
.slick-next{
    background: url(./assets/img/arrow-right.svg) no-repeat center, #FFF7F5;
    right: 0;
    margin-right: 10px;
}
.slick-next:hover{
    box-shadow: 5px 5px 5px rgb(248, 208, 193, 0.5);
}
.slick-prev:hover{
    box-shadow: -5px 5px 5px rgb(248, 208, 193, 0.5);
}
footer{
    background-color: #302A55;
}
.footer-container{
    padding-top: 92px;
    padding-bottom: 92px;
}
.footer-logo{
    width: 150px;
}
.nav-footer{
    display: flex;
    align-items: center;
}
.nav-footer a{
    color: #FFFFFF;
}
@media (max-width:1380px) {
    .step-number-text{
        max-width: 175px;
    }
    .photo-women{
        margin-right: 40px;
    }
}
@media (max-width:1350px) {
    
    .button-service-orange {
        padding-left: 40px;
        padding-right: 40px;
    }
    .button-blue{
        padding-left: 50px;
        padding-right: 50px;
    }
    .about-arteko{
        padding-top: 210px;
    }
}
@media (max-width:1315px) {
   
    .step-number-text{
        max-width: 160px;
    }
    .step-9{
        justify-content: flex-start;
    }
    .photo-women{
        padding-left: 230px;
    }
    .btn-question{
        padding: 18px 45px;
    }
    .about-arteko{
        padding-top: 200px;
    }
}

@media (max-width:1300px) {
    .clinic{
        max-width: 1270px;
    }
    .about-arteko{
        padding-top: 190px;
    }
}
@media (max-width:1260px) {
    .wrapper-bgr{
        background-size: cover;
    }
    .step-number-text{
        max-width: 150px;
        font-size: 16px;
    }
    .photo-women {
        padding-left: 190px;
    }
    .nine-steps{
        max-width: 1220px;
    }
    .arrow8::before{
        top: 30px;
    }
    .arrow2:before, .arrow6:before{
        left: 80px;
    }
    .arrow1:before, .arrow3:before, .arrow5:before, .arrow7:before {
        left: 70px;
    }
    .btn-question{
        padding: 18px 40px;
    }
      .button-blue{
        padding-left: 45px;
        padding-right: 45px;
    }
    .nav-item{
        margin-right: 40px;
    }
    .clinic{
        max-width: 1220px;
    }
    .about-arteko{
        padding-top: 170px;
    }
    .services-card {
        width: calc(33.333333% - 30px);
    }
    .services-conteiner{
        max-width: 975px;
        justify-content: center;
        margin: 0 auto;
    }
    .button-service-orange {
        padding-left: 50px;
        padding-right: 50px;
    }
    .button-blue{
        padding-left: 60px;
        padding-right: 60px;
    }
}
@media (max-width:1215px) {
    .arrow{
        column-gap: 20px;
    }
    .btn-question{
        padding: 18px 35px;
    }
    .photo-women {
        padding-left: 160px;
    }
    .clinic{
        max-width: 1185px;
    }
    .about-arteko{
        padding-top: 160px;
    }
}
@media (max-width:1200px){
    .wrapper-bgr{
        background-position: calc(50% - 50px)
    }
    .wrapper-petals{
        padding: 0 20px;
    }
    .btn-question{
        padding: 18px 30px;
    }
    .step-number-text{
        max-width: 140px;
    }
    .arrow2:before, .arrow6:before{
        left: 70px;
    }
    .arrow1:before, .arrow3:before, .arrow5:before, .arrow7:before {
        left: 60px;
    }
    .photo-women {
        padding-left: 130px;
    }
    .about-clinic{
        align-items: flex-end;
    }
    .about-arteko{
        padding-top: 0;
        padding-bottom: 40px;
    }
    .photo-director{
        width: 26.55172413793103%;
    }
}
@media (max-width:1150px){
    .nav-item{
        margin-right: 30px;
    }
    .step-number-text{
        max-width: 192px;
        font-size: 18px;
    }
    .steps{
        max-width: 950px;
        justify-content: center;
        row-gap: 50px;
    }
    .arrow1:before, .arrow2:before, .arrow3:before, .arrow4:before, .arrow5:before, .arrow6:before, .arrow7:before, .arrow8::before{
        opacity: 0;
    }
    .photo-women{
        padding-left: 0;
    }
    .step-9{
        justify-content: center;
    }
    .check-form-question{
        display: block;
    }
    .agree-form {
        width: 100%;
        margin-bottom: 20px;
    }
    .button-question{
        width: 100%;
    }
    .btn-question{
        padding: 19px 44px;
    }
    .subtitle-services {
        font-size: 14px;
    }
    .price {
    font-size: 14px;
    }
    .wrapper-container{
        max-width: 1100px;
    }
    .wrapper-petals {
        max-width: 1100px;
    }
    .number-call{
        margin-right: 30px;
    }
    .text-stat{
        padding: 0 60px;
    }
    .steps{
        padding-top: 30px;
    }
    .step-9{
        max-width: 1100px;
    }

}
@media (max-width:1050px){
    .wrapper-bgr{
        background-position: calc(50% - 113px)
    }
    .about-arteko{
        padding-bottom: 20px;
    }
    .signup-titel{
        font-size: 32px;
        padding-right: 30px;
    }
    .signup-container{
        padding-bottom: 80px;
    }
}

@media (max-width:991px){
    .wrapper-bgr{
        background-image: none;
    }
    .wrapper-petals {
        justify-content: center;
    }
    .menu{
        display: block;
    }
    .nav-open .nav-list{
        display: block;
        opacity: 1;
        visibility: visible;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        border-radius: 2px;
    }
    .nav{
        position: relative;
    }
    .nav-list{
        display: none;
        position: absolute;
        content: '';
        width: 180px;
        height: 160px;
        top: calc(50% + 53px);
        right: 0;
        padding: 20px 30px;
        opacity: 0;
        visibility: hidden;
        background-color: #FFE3DC;
        transition: all 0.1s;
    }
    .nav-list::before{
        display: block;
        position: absolute;
        content: '';
        border-bottom: 10px solid #FFE3DC;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        top:-10px;
        right: 1px;
    }
    .nav-item{
        margin-bottom: 15px;
    }
    .btn-call{
        display: none;
    }
    .be-mommy{
        width: 100%;
    }
    .photo-women{
        padding-left: 0;
    }
    .about-clinic{
        margin-top: 50px;
    }
    .about-title, .titel-review, .title-conteiner{
        font-size: 32px;
    }
    .about-us, .text-review{
        font-size: 14px;
    }
    .about-us{
        margin-bottom: 30px;
    }
}
@media (max-width:950px){
    .text-stat {
        padding: 0 50px;
    }
    .wrapper-qoutes{
       flex-wrap: wrap;
       justify-content: space-around;
    }
    .container-text-quotes{
        width: 50%;
    }
    .question{
        width: 50%;
    }
    .quote {
        background: #F3F5FF;
        padding-bottom: 20px;
        margin-bottom: 80px;
    }
    .photo-director{
        width: 50%;
    }
}
@media (max-width:900px){
   .metod-eko{
        row-gap: 30px;
    }
    .be-mommy{
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .diagram, .metod{
        width: 100%;
    }
    .text-stat {
        padding: 0 40px;
    }
    .btn-call{
        width: 219px;
    }
    .photo-women {
        margin-right: 30px;
    }
    .about-title, .titel-review, .title-conteiner, .signup-titel{
        font-size: 28px;
    }
    .services-card{
        width: calc(50% - 30px);
    }
    .services-conteiner{
        max-width: 650px;
    }
    .signup-form{
        margin-left: 59px;
    }
    .signup-container{
        justify-content: center;
    }
    .signup-titel{
        padding-right: 0;
    }
    .doctor-container, .services-conteiner, .signup-container{
        padding-bottom: 50px;
    }
}
@media (max-width:800px){
    .logo, .footer-logo{
        width: 130px;
    }
    .nav-list{
        top: calc(50% + 44px);
    }
    .be-mommy{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .block-button{
        text-align: center;
    }
    .container-text-quotes{
        width: 95%;
    }
    .text-stat{
        padding: 0 20px;
    }
    .step-9{
        flex-wrap: wrap;
    }
    .about-clinic{
        flex-wrap: wrap;
    }
    .photo-petal-women{
        width: 100%;
        padding-left: 0;
        text-align: center;
    }
    .about-arteko{
        width: 100%;
        padding-bottom: 0;
        padding-right: 60px;
    }
    .about-title{
        margin-bottom: 20px;
    }
    .about-clinic{
        margin-top: 80px;
    }
    .numer-stat{
        font-size: 28px;
    }
    .text-stat{
        font-size: 14px;
    }
    .block-stat{
        margin: 0;
    }
    .photo-women{
        order: 3;
        padding-bottom: 0;
        margin-right: 0;
    }
    .step-9::before{
        top: 0;
    }
    .step-9{
        padding-top: 68px;
        row-gap: 97px;
        column-gap: 33px;
    }
    .step9-text{
        padding-left: 0;
    }
    .container-text-quotes{
        padding-bottom: 0;
    }
    .container-text-quotes{
        padding-top: 0px;
    }
    .title-question{
        font-size: 28px;
    }
    .form-entry, .form-entry-text{
        font-size: 14px;
    }
    .form-entry-text{
        padding-top: 10px;
    }
    .photo-director{
        width: 50%;
    }
    .container-text-quotes{
        width: 100%;
        padding-right: 0;
    }
    .text-quotes{
        padding-right: 0;
    }
    .text-quotes:nth-last-child(2){
        z-index: 50;
    }
    .wrapper-qoutes{
        padding-top: 30px;
    }
    .photo-director-bgr{
        width: 50%;
        padding-top: 0;
        padding-bottom: 20px;
    }
    .signup-form{
        width: 60%;
        margin-left: 40px;
    }
}
@media (max-width:650px){

    .photo-director{
        width: 100%;
        padding-bottom: 30px;
    }
    .question{
        width: 100%;
    }
    .title-question{
        text-align: center;
    }
    .form-question{
        width: 80%;
        margin: 0 auto;
    }
}
@media (max-width:600px){
    .number-call{
        font-size: 20px;
    }
    .be-mommy{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .you-mother{
        font-size: 40px;
    }
    .metod-eko{
        margin-top: 50px;
        margin-bottom: 50px;
    }
   .step9-text{
    font-size: 34px;
   }
    .about-arteko{
        width: 100%;
        padding-right: 0;
    }
    .question{
        padding-left: 0;
    }
    .form-question{
        width: 100%;
    }
    .text-quotes{
        font-size: 14px;
    }
    .title-question, .signup-titel{
        font-size: 26px;
        line-height: 36px;
    }
    .btn-question{
        font-size: 14px;
    }
    .services-card{
        width: 245px;
    }
    .signup-form{
        width: 75%;
    }
    .photo-director-bgr{
        width: 65%;
    }
    .footer-button {
        display: none;
    }
    .footer-container{
        padding-top: 60px;
        padding-bottom: 60px;
    }

}
@media (max-width:500px){
    .number-call {
        margin-right: 20px;
    }
    .you-mother{
        font-size: 38px;
    }
    .discount{
        font-size: 18px;
    }
    .be-mommy{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .diagram{
        flex-direction: column;
        justify-content: center;
    }
    .persent{
        margin: 30px 0 30px;
    }
    .result{
        margin-right: 0;
        margin-bottom: 30px;
    }
    .result div{
        padding: 0;
    }
    .metod-eko{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .step-number-text{
        font-size: 16px;
    }
    .step-number-border{
        width: 60px;
        height: 60px;
        font-size: 28px;
    }
    .step-number-dots{
        width: 85px;
        height: 85px;
    }
    .steps{
        row-gap: 30px;
    }
    .step-9{
        margin-top: 30px;
        column-gap: 0;
    }
    .step9-text{
        width: 62%;
        text-align: center;
       }
    .statistics{
        flex-wrap: wrap;
        row-gap: 30px;
        justify-content: center;
    }
    .block-stat{
        width: 50%;
    }
    .photo-director{
        width: 315px;
        padding-top: 0;
        padding-bottom: 30px;
    }
    .container-text-quotes{
        width: 100%;
    }
    .name-review{
        font-size: 14px;
    }
    .quote, .block-review {
        margin-bottom: 50px;
    }
    .button-orange{
        font-size: 14px;
        line-height: 16px;
        padding-left: 36px;
        padding-right: 36px;
    }
    .name-doctor{
        font-size: 14px;
        letter-spacing: 2px;
    }
    .doctor-container, .services-conteiner, .signup-container{
        padding-bottom: 50px;
    }
    .signup-form{
        width: 80%;
        margin-left: 30px;
    }
    .photo-director-bgr{
        width: 70%;
    }
}
@media (max-width:400px){
    .logo, .footer-logo{
        width: 30%;
    }
    .number-call{
        font-size: 16px;
        margin-right: 15px;
    }
    .nav-list{
        top: calc(50% + 36px);
    }
    .button-cons{
        padding: 19px 20px;
    }
    .you-mother{
        font-size: 32px;
    }
    .discount{
        font-size: 16px;
    }
    .metod{
        font-size: 14px;
        margin-left: 0;
        padding-right: 0;
    }
    .step-number-text{
        font-size: 14px;
        max-width: 140px;
    }
    .block-stat{
        width: 80%;
    }
    .text-stat{
        max-width: 60%;
        margin: 0 auto;
    }
    .button-orange{
        font-size: 12px;
        line-height: 12px;
        padding: 15px 26px;
    }
    .reiting{
        background-size: contain;
    }
    .name-doctor{
        font-size: 12px;
        padding: 0;
    }
    .card-doctor{
        margin-left: 10px;
        margin-right: 10px;
    }
    .signup-form{
        width: 90%;
    }
    .footer-container{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .slick-arrow{
        width: 55px;
        height: 55px;
    }
    .slider-doctor{
        padding-bottom: 50px;
    }
}
@media (max-width:350px){
    .nav-list{
        top: calc(50% + 33px);
    }
    .you-mother{
        font-size: 28px;
        padding-bottom: 0;
    }
    .discount{
        font-size: 14px;
    }
    .button-cons{
        font-size: 12px;
    }
    .text-stat{
        max-width: 50%;
        margin: 0 auto;
    }
    .step-9{
        column-gap: 20px;
    }
    .name-review{
        margin-top: 50px;
    }
    .card-doctor{
        padding-left: 10px;
        padding-right: 10px;
    }
    .signup-form{
        width: 100%;
    }
    .block-review{
        background-size: contain;
    }
}
